
        
        @keyframes correct-guess {
            0% {background-color: #A183D4;}
            50% {background-color: #C6AEEB;}
            100% {background-color: #A183D4;}
        }

        @keyframes incorrect-guess {
            0% {background-color: #A183D4;}
            50% {background-color: #544582;}
            100% {background-color: #A183D4;}
        }
        .correct {
            animation: correct-guess 0.5s ease-in-out;
        }
        .incorrect {
            animation: incorrect-guess 0.5s ease-in-out;
        }
        .guessed {
            background-color: #ccc;
        }
        body {
            background-color: #A183D4;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
    
        }

        .hangmanbox img{
            width: 440px;
            height: 560px;
        }


        #container {
            background-color: #fff;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 0 10px rgba(58, 58, 58, 0.1);
            text-align: center;
        }

        .game-box h4 {
            color: #3f2256;
            font-size: 25px;
        }

        .game-box h4 span {
            color: #6e2fa0;
            font-size: 25px;
        }




        h1 {
            color: #5a5467;
  
        }

        button {
            background-color: #544582;
            color: white;
            border: none;
            padding: 10px 20px;
            margin: 5px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 30px;
        }

        button:hover {
            background-color: #383366;
        }

        #display {
            list-style: none;
            padding: 0;
            margin: 20px 0;
        }

        #display li {
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: normal;
            background-color: #C6AEEB;
            color: #5d4c8f;
            margin: 0 5px;
            font-size: 40px;
            border-radius: 5px;
            border: 1px solid #544582;
        }

        #keyboard {
            margin-top: 20px;
        }

        #keyboard button {
            background-color: #9b5bcc;
            color: rgb(255, 255, 255);
            border: 5px;
            padding: 15px;
            margin: 5px;
            cursor: pointer;
            border-radius: 7px;
            font-size: 35px;
        }

        #keyboard button:hover {
            background-color: #7c5597;
        }

        .keyboard button.guessed {
            background-color: #ccc; 
        }
        .game-modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        @keyframes fadeOut {
            from {opacity: 1;}
            to {opacity: 0;}
        }

        
        .letterGuessed {
            font-size: 40px;
            text-align: center;
        }
        
        .letterGuessed span {
            padding: 0px 10px;
        }

        .game-modal.show {
            display: block;
            animation: fadeIn 0.5s forwards;
        }
        .game-modal.hide {
            animation: fadeOut 0.5s forwards;
        }
